@import "tailwindcss";
body {
  @apply bg-gradient-to-br from-indigo-900 via-purple-800 to-pink-600 min-h-screen flex items-center justify-center text-white;
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
}
